/* CSS3 Animations */

/* slideUp */

@-webkit-keyframes hingeUp {

  	0% {

	   	-webkit-transform: rotateX(-85deg);
    	transform: rotateX(-85deg);

    	-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;

		opacity: 0.5;

  	}

  	40% {

    	-webkit-transform: rotateX(15deg);
    	transform: rotateX(15deg);
		opacity: 0.75;

  	}

  	60% {

    	-webkit-transform: rotateX(-10deg);
    	transform: rotateX(-10deg);

		opacity: 0.85;

  	}

  	80% {

    	-webkit-transform: rotateX(5deg);
    	transform: rotateX(5deg);

		opacity: 0.95;

  	}

  	100% {

	    -webkit-transform: rotateX(0);
    	transform: rotateX(0);

    	-webkit-transform-origin: 0% 0%;


	  	opacity: 1; 

  	}

}

@-o-keyframes hinge {

  	0% {

	   	-webkit-transform: rotateX(-85deg);
    	transform: rotateX(-85deg);

    	-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;

		opacity: 0.5;

  	}

  	40% {

    	-webkit-transform: rotateX(15deg);
    	transform: rotateX(15deg);
		opacity: 0.75;

  	}

  	60% {

    	-webkit-transform: rotateX(-10deg);
    	transform: rotateX(-10deg);

		opacity: 0.85;

  	}

  	80% {

    	-webkit-transform: rotateX(5deg);
    	transform: rotateX(5deg);

		opacity: 0.95;

  	}

  	100% {

	    -webkit-transform: rotateX(0);
    	transform: rotateX(0);

    	-webkit-transform-origin: 0% 0%;


	  	opacity: 1; 

  	}

}

@keyframes hinge {

  	0% {

	   	-webkit-transform: rotateX(-85deg);
    	transform: rotateX(-85deg);

    	-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;

		opacity: 0.5;

  	}

  	40% {

    	-webkit-transform: rotateX(15deg);
    	transform: rotateX(15deg);
		opacity: 0.75;

  	}

  	60% {

    	-webkit-transform: rotateX(-10deg);
    	transform: rotateX(-10deg);

		opacity: 0.85;

  	}

  	80% {

    	-webkit-transform: rotateX(5deg);
    	transform: rotateX(5deg);

		opacity: 0.95;

  	}

  	100% {

	    -webkit-transform: rotateX(0);
    	transform: rotateX(0);

    	-webkit-transform-origin: 0% 0%;

	  	opacity: 1; 

  	}

}

/* end animation */