@import url('animation.css');
/* body */
/* font */
/* tab-marker */
/* border */
/* texts */
/* hover bg */
/*
 * ===================================================================================
 *
 *	MODULE STYLES
 *
 * ===================================================================================
*/
/* GENERAL MODULE STYLES */
.bold {
  font-weight: bold;
}
/* Element Widths */
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}
/* margin */
.pull-left-2 {
  margin-left: -2px;
}
/* text alignment */
.text-justify {
  text-align: justify;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
/* visibility */
.visibility-v {
  visibility: visible;
}
.visibility-h {
  visibility: hidden;
}
/* opacity */
.opacity-1 {
  opacity: 1;
}
.opacity-0 {
  opacity: 0;
}
/* border */
.no-border {
  border: 0;
}
.b-t-l-radius {
  border-top-left-radius: 6px;
}
.b-t-r-radius {
  border-top-right-radius: 6px;
}
#wrapper {
  width: 88.5%;
  _width: 1110px;
  margin: 30px auto 0 auto;
}
#header,
.tab-main-container {
  width: 100%;
}
.tab-main-container-padded {
  padding: 0.5em;
  background: #29b27b;
}
.tab-main-container-rounded {
  border-radius: 6px;
}
/* Tabs */
.tabs {
  width: 100%;
}
.tabs [type="radio"] {
  display: none;
}
.tabs-rounded-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.tab-menu {
  line-height: 0;
}
.tab-menu i {
  margin-right: 0.75em;
}
.tab-marker > li {
  min-width: 132px;
  min-height: 45px;
}
.tab-marker label {
  position: relative;
  display: block;
  padding: 1em 1.5em;
  font-size: 0.95em;
  font-weight: bold;
  background: #2cc185;
  color: #f9f9f9;
  -webkit-transition: all 0.1s ease-in;
}
.tab-marker label i {
  -webkit-transition: color 0.4s ease-in;
}
.tab-marker label span {
  -webkit-transition: color 0.4s linear;
}
.tab-marker label span:after,
.tab-marker label span:before {
  -webkit-transition: background 0.1s linear;
}
.tab-marker label svg {
  -webkit-transition: all 0.2s ease-in-out;
}
.tab-design-1 .tab-marker.l-inline-list > li {
  margin-right: 10px;
}
.tab-design-1 .tab-marker.l-inline-list > li:last-child {
  margin-right: 0;
}
.tab-design-1 .tab-marker.l-vertical-list > li {
  margin-right: 0;
  margin-bottom: 2px;
}
.tab-design-1 .tab-marker.l-vertical-list > li:last-child {
  margin-bottom: 0;
}
.tab-design-1 .tab-marker.tab-marker-tight > li {
  margin-right: 2px;
  border-left: 0;
}
.tab-design-1 .tab-marker.tab-marker-tight > li label {
  background: #2cc185;
  color: #f9f9f9;
}
.tab-design-1 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0) !important;
  color: #444444;
}
.tab-design-1 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li label {
  _border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
.tab-design-1 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:first-child label {
  border-left: 0;
}
.tab-design-1 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:last-child {
  _border-right: 0;
}
.tab-design-1 .tab-marker.tab-marker-tight.tab-marker-tight-overlap > li {
  margin-right: -6px;
}
.tab-design-1 .tab-marker.tab-marker-rounded-top label {
  margin-right: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.tab-design-2 .tab-marker.l-inline-list > li {
  margin-right: 26px;
}
.tab-design-2 .tab-marker.l-inline-list > li:last-child {
  margin-right: 0;
}
.tab-design-2 .tab-marker.l-vertical-list > li {
  margin-right: 0;
  margin-bottom: 2px;
}
.tab-design-2 .tab-marker.l-vertical-list > li:last-child {
  margin-bottom: 0;
}
.tab-design-2 .tab-marker label span:after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 20px;
  height: 100%;
  background: #2cc185;
  -webkit-transform: skewX(16deg);
}
.tab-design-2 .tab-marker.tab-marker-tight > li {
  margin-right: 18px;
  border-left: 0;
}
.tab-design-2 .tab-marker.tab-marker-tight > li label {
  background: #2cc185;
  color: #f9f9f9;
}
.tab-design-2 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label {
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  color: #444444;
}
.tab-design-2 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label span:after {
  background: rgba(0, 0, 0, 0);
}
.tab-design-2 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li label {
  border-right: 1px solid rgba(52, 52, 52, 0.1);
  border-left: 1px solid rgba(52, 52, 52, 0.1);
}
.tab-design-2 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:first-child label {
  border-left: 0;
}
.tab-design-2 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:last-child {
  border-right: 0;
}
.tab-design-2 .tab-marker.tab-marker-tight.tab-marker-tight-overlap > li {
  margin-right: 2px;
}
.tab-design-2 .tab-marker.tab-marker-rounded-top label {
  margin-right: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.tab-design-2 .tab-marker.tab-marker-rounded-top label span:before {
  border-top-left-radius: 6px;
}
.tab-design-2 .tab-marker.tab-marker-rounded-top label span:after {
  border-top-right-radius: 6px;
}
.tab-design-3 .tab-marker.l-inline-list > li {
  margin-right: 40px;
}
.tab-design-3 .tab-marker.l-inline-list > li:first-child {
  margin-left: 12px;
}
.tab-design-3 .tab-marker.l-inline-list > li:last-child {
  margin-right: 0;
}
.tab-design-3 .tab-marker.l-vertical-list > li {
  margin-right: 0;
  margin-bottom: 2px;
}
.tab-design-3 .tab-marker.l-vertical-list > li:last-child {
  margin-bottom: 0;
}
.tab-design-3 .tab-marker label span:after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 20px;
  height: 100%;
  background: #2cc185;
  -webkit-transform: skewX(10deg);
}
.tab-design-3 .tab-marker label span:before {
  content: "";
  position: absolute;
  left: -8px;
  bottom: 0;
  width: 20px;
  height: 100%;
  background: #2cc185;
  -webkit-transform: skewX(-10deg);
}
.tab-design-3 .tab-marker.tab-marker-tight > li {
  margin-right: 28px;
  border-left: 0;
}
.tab-design-3 .tab-marker.tab-marker-tight > li label {
  background: #2cc185;
  color: #f9f9f9;
}
.tab-design-3 .tab-marker.tab-marker-tight.tab-marker-tight-transparent > li label {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: #444444;
}
.tab-design-3 .tab-marker.tab-marker-tight.tab-marker-tight-transparent > li label span:before,
.tab-design-3 .tab-marker.tab-marker-tight.tab-marker-tight-transparent > li label span:after {
  border: none !important;
  background: rgba(0, 0, 0, 0);
}
.tab-design-3 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li label span:before {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
.tab-design-3 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:first-child label span:before {
  border-left: 0;
}
.tab-design-3 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:last-child {
  border-right: 0;
}
.tab-design-3 .tab-marker.tab-marker-tight.tab-marker-tight-overlap > li {
  margin-right: 15px;
}
.tab-design-3 .tab-marker.tab-marker-rounded-top label span:before {
  border-top-left-radius: 6px;
}
.tab-design-3 .tab-marker.tab-marker-rounded-top label span:after {
  border-top-right-radius: 6px;
}
.tab-design-4 .tab-marker.l-inline-list > li {
  margin-right: 80px;
}
.tab-design-4 .tab-marker.l-inline-list > li:first-child {
  margin-left: 40px;
}
.tab-design-4 .tab-marker.l-inline-list > li:last-child {
  margin-right: 0;
}
.tab-design-4 .tab-marker.l-vertical-list > li {
  margin-right: 0;
  margin-bottom: 2px;
}
.tab-design-4 .tab-marker.l-vertical-list > li:last-child {
  margin-bottom: 0;
}
.tab-design-4 .tab-marker label svg {
  position: absolute;
  height: 100%;
  fill: #2cc185;
}
.tab-design-4 .tab-marker label svg.svg-left {
  bottom: 0;
  left: -44px;
  width: 45px;
}
.tab-design-4 .tab-marker label svg.svg-right {
  bottom: 0;
  right: -44px;
  width: 45px;
  -webkit-transform: rotateY(180deg);
}
.tab-design-4 .tab-marker.tab-marker-tight > li {
  margin-right: 60px;
  border-left: 0;
}
.tab-design-4 .tab-marker.tab-marker-tight > li label {
  background: #2cc185;
  color: #f9f9f9;
  border: none;
}
.tab-design-4 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label {
  background: rgba(0, 0, 0, 0);
  border: none!important;
  color: #444444;
}
.tab-design-4 .tab-marker.tab-marker-tight.tab-marker-tight-transparent svg {
  fill: rgba(0, 0, 0, 0);
}
.tab-design-4 .tab-marker.tab-marker-tight.tab-marker-tight-separator svg {
  stroke-width: 1px;
  stroke: rgba(52, 52, 52, 0.1);
}
.tab-design-4 .tab-marker.tab-marker-tight.tab-marker-tight-overlap > li {
  margin-right: 32px;
}
.tab-design-5 .tab-marker.l-inline-list > li {
  margin-right: 32px;
}
.tab-design-5 .tab-marker.l-inline-list > li:first-child {
  margin-left: 0;
}
.tab-design-5 .tab-marker.l-vertical-list > li {
  margin-right: 0;
  margin-bottom: 2px;
}
.tab-design-5 .tab-marker.l-vertical-list > li:last-child {
  margin-bottom: 0;
}
.tab-design-5 .tab-marker label {
  /* leaf */
  /* picket */
  /* wing */
  /* angle-bar */
}
.tab-design-5 .tab-marker label span.leaf:before {
  content: "";
  position: absolute;
  top: 46%;
  left: -4.75%;
  width: 110%;
  height: 12px;
  background: #2cc185;
  z-index: -10000;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
}
.tab-design-5 .tab-marker label span.leaf:after {
  content: "";
  position: absolute;
  bottom: 46%;
  left: -4.75%;
  width: 110%;
  height: 12px;
  background: #2cc185;
  z-index: -10000;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
}
.tab-design-5 .tab-marker label span.picket:before {
  content: "";
  position: absolute;
  top: 23%;
  left: -4.75%;
  width: 110%;
  height: 12px;
  background: #2cc185;
  z-index: -10000;
  border-radius: 150px;
}
.tab-design-5 .tab-marker label span.picket:after {
  content: "";
  position: absolute;
  bottom: 23%;
  left: -4.75%;
  width: 110%;
  height: 12px;
  background: #2cc185;
  z-index: -10000;
  border-radius: 150px;
}
.tab-design-5 .tab-marker label span.wing:before {
  content: "";
  position: absolute;
  top: 22%;
  left: -7.6%;
  width: 115%;
  height: 12px;
  background: #2cc185;
  z-index: -10000;
  border-radius: 20px 20px 50px 50px;
}
.tab-design-5 .tab-marker label span.wing:after {
  content: "";
  position: absolute;
  bottom: 25%;
  left: -4.75%;
  width: 110%;
  height: 12px;
  background: #2cc185;
  z-index: -10000;
  border-radius: 10px 10px 20px 20px;
}
.tab-design-5 .tab-marker label span.angle-bar:before {
  content: "";
  position: absolute;
  top: 41.25%;
  left: -5.25%;
  width: 110%;
  height: 8px;
  background: #2cc185;
  z-index: -10000;
  -webkit-transform: rotate(6deg);
}
.tab-design-5 .tab-marker label span.angle-bar:after {
  content: "";
  position: absolute;
  bottom: 41.25%;
  left: -5.25%;
  width: 110%;
  height: 8px;
  background: #2cc185;
  z-index: -10000;
  -webkit-transform: rotate(-6deg);
}
.tab-design-5 .tab-marker.tab-marker-tight > li {
  margin-right: 18px;
  border-left: 0;
}
.tab-design-5 .tab-marker.tab-marker-tight > li label {
  background: #2cc185;
  color: #f9f9f9;
}
.tab-design-5 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0) !important;
  color: #444444;
}
.tab-design-5 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label span:before,
.tab-design-5 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label span:after {
  background: none;
}
.tab-design-5 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li label {
  border-right: 1px solid rgba(52, 52, 52, 0.1);
  border-left: 1px solid rgba(52, 52, 52, 0.1);
}
.tab-design-5 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:first-child label {
  border-left: 0;
}
.tab-design-5 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:last-child label {
  _border-right: 0;
}
.tab-design-5 .tab-marker.tab-marker-tight.tab-marker-tight-overlap > li {
  margin-right: -2px;
}
.tab-design-5 .tab-marker.tab-marker-rounded-top label {
  margin-right: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.tab-design-6 .tab-marker.l-inline-list > li {
  margin-right: 14px;
  -webkit-transform: skew(-15deg);
}
.tab-design-6 .tab-marker.l-inline-list > li:first-child {
  margin-left: 6px;
}
.tab-design-6 .tab-marker.l-inline-list > li:last-child {
  margin-right: 0;
}
.tab-design-6 .tab-marker.l-vertical-list > li {
  margin-right: 0;
  margin-bottom: 2px;
}
.tab-design-6 .tab-marker.l-vertical-list > li:last-child {
  margin-bottom: 0;
}
.tab-design-6 .tab-marker.tab-marker-tight > li {
  margin-right: 2px;
  border-left: 0;
}
.tab-design-6 .tab-marker.tab-marker-tight > li label {
  background: #2cc185;
  color: #f9f9f9;
}
.tab-design-6 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0) !important;
  color: #444444;
}
.tab-design-6 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li label {
  border-right: 1px solid rgba(52, 52, 52, 0.1);
  border-left: 1px solid rgba(52, 52, 52, 0.1);
}
.tab-design-6 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:first-child label {
  border-left: 0;
}
.tab-design-6 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:last-child {
  border-right: 0;
}
.tab-design-6 .tab-marker.tab-marker-tight.tab-marker-tight-overlap > li {
  margin-right: -2px;
}
.tab-design-6 .tab-marker.tab-marker-rounded-top label {
  margin-right: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.tab-design-7 .tab-marker.l-inline-list > li {
  margin-right: 10px;
}
.tab-design-7 .tab-marker.l-inline-list > li:last-child {
  margin-right: 0;
}
.tab-design-7 .tab-marker.l-inline-list > li label {
  border-top-right-radius: 20px;
}
.tab-design-7 .tab-marker.l-vertical-list > li {
  margin-right: 0;
  margin-bottom: 2px;
}
.tab-design-7 .tab-marker.l-vertical-list > li:last-child {
  margin-bottom: 0;
}
.tab-design-7 .tab-marker.tab-marker-tight > li {
  margin-right: 2px;
  border-left: 0;
}
.tab-design-7 .tab-marker.tab-marker-tight > li label {
  background: #2cc185;
  color: #f9f9f9;
}
.tab-design-7 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0) !important;
  color: #444444;
}
.tab-design-7 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li label {
  border-right: 1px solid rgba(52, 52, 52, 0.1);
  border-left: 1px solid rgba(52, 52, 52, 0.1);
}
.tab-design-7 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:first-child label {
  border-left: 0;
}
.tab-design-7 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:last-child {
  border-right: 0;
}
.tab-design-7 .tab-marker.tab-marker-tight.tab-marker-tight-overlap > li {
  margin-right: -6px;
}
.tab-design-7 .tab-marker.tab-marker-rounded-top label {
  margin-right: 1px;
  border-top-left-radius: 20px;
}
.tab-design-8 .tab-marker.l-inline-list > li {
  margin-right: 26px;
}
.tab-design-8 .tab-marker.l-inline-list > li:last-child {
  margin-right: 0;
}
.tab-design-8 .tab-marker.l-vertical-list > li {
  margin-right: 0;
  margin-bottom: 2px;
}
.tab-design-8 .tab-marker.l-vertical-list > li:last-child {
  margin-bottom: 0;
}
.tab-design-8 .tab-marker label span:after {
  content: "";
  position: absolute;
  background: #2cc185;
  right: -7px;
  top: 0;
  width: 14px;
  height: 50%;
  -webkit-transform: skewX(28deg);
}
.tab-design-8 .tab-marker label span:before {
  content: "";
  position: absolute;
  background: #2cc185;
  right: -13px;
  bottom: 0;
  width: 14px;
  height: 50%;
}
.tab-design-8 .tab-marker.tab-marker-tight > li {
  margin-right: 18px;
  border-left: 0;
}
.tab-design-8 .tab-marker.tab-marker-tight > li label {
  background: #2cc185;
  color: #f9f9f9;
}
.tab-design-8 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label {
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  color: #444444;
}
.tab-design-8 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label span:before,
.tab-design-8 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label span:after {
  background: rgba(0, 0, 0, 0);
}
.tab-design-8 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li label {
  border-right: 1px solid rgba(52, 52, 52, 0.1);
  border-left: 1px solid rgba(52, 52, 52, 0.1);
}
.tab-design-8 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:first-child label {
  border-left: 0;
}
.tab-design-8 .tab-marker.tab-marker-tight.tab-marker-tight-separator > li:last-child {
  border-right: 0;
}
.tab-design-8 .tab-marker.tab-marker-tight.tab-marker-tight-overlap > li {
  margin-right: 0;
}
.tab-design-9 .tab-marker.l-inline-list > li,
.tab-design-10 .tab-marker.l-inline-list > li {
  margin-right: 60px;
}
.tab-design-9 .tab-marker.l-inline-list > li:first-child,
.tab-design-10 .tab-marker.l-inline-list > li:first-child {
  margin-left: 25px;
}
.tab-design-9 .tab-marker.l-inline-list > li:last-child,
.tab-design-10 .tab-marker.l-inline-list > li:last-child {
  margin-right: 0;
}
.tab-design-9 .tab-marker.l-vertical-list > li,
.tab-design-10 .tab-marker.l-vertical-list > li {
  margin-right: 0;
  margin-bottom: 2px;
}
.tab-design-9 .tab-marker.l-vertical-list > li:last-child,
.tab-design-10 .tab-marker.l-vertical-list > li:last-child {
  margin-bottom: 0;
}
.tab-design-9 .tab-marker label svg,
.tab-design-10 .tab-marker label svg {
  position: absolute;
  height: 100%;
  fill: #2cc185;
}
.tab-design-9 .tab-marker label svg.svg-left,
.tab-design-10 .tab-marker label svg.svg-left {
  bottom: 0;
  left: -25px;
  width: 45px;
}
.tab-design-9 .tab-marker label svg.svg-right,
.tab-design-10 .tab-marker label svg.svg-right {
  bottom: 0;
  right: -25px;
  width: 45px;
  -webkit-transform: rotateY(180deg);
}
.tab-design-9 .tab-marker.tab-marker-tight > li,
.tab-design-10 .tab-marker.tab-marker-tight > li {
  margin-right: 54px;
  border-left: 0;
}
.tab-design-9 .tab-marker.tab-marker-tight > li label,
.tab-design-10 .tab-marker.tab-marker-tight > li label {
  background: #2cc185;
  color: #f9f9f9;
  border: none;
}
.tab-design-9 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label,
.tab-design-10 .tab-marker.tab-marker-tight.tab-marker-tight-transparent label {
  background: rgba(0, 0, 0, 0);
  border: none!important;
  color: #444444;
}
.tab-design-9 .tab-marker.tab-marker-tight.tab-marker-tight-transparent svg,
.tab-design-10 .tab-marker.tab-marker-tight.tab-marker-tight-transparent svg {
  fill: rgba(0, 0, 0, 0);
}
.tab-design-9 .tab-marker.tab-marker-tight.tab-marker-tight-separator svg,
.tab-design-10 .tab-marker.tab-marker-tight.tab-marker-tight-separator svg {
  stroke-width: 1px;
  stroke: rgba(52, 52, 52, 0.1);
}
.tab-design-9 .tab-marker.tab-marker-tight.tab-marker-tight-overlap > li,
.tab-design-10 .tab-marker.tab-marker-tight.tab-marker-tight-overlap > li {
  margin-right: 11px;
}
/* tab-content-container */
.tab-content-container {
  -webkit-perspective: 2500px;
  perspective: 2500px;
  clear: both;
}
.tab-content-container.bordered {
  border-right: 1px solid rgba(52, 52, 52, 0.1);
  border-left: 1px solid rgba(52, 52, 52, 0.1);
  border-bottom: 1px solid rgba(52, 52, 52, 0.1);
}
.tab-content {
  width: 100%;
  display: none;
  padding: 1.15em 1.65em 1.25em 1.65em;
  background: #f9f9f9;
}
