@import url('animation.css');
/*
 * ===================================================================================
 *
 *	MODULE STYLES
 *
 * ===================================================================================
*/
/* GENERAL MODULE STYLES */
.bold {
  font-weight: bold;
}
/* Element Widths */
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}
/* margin */
.pull-left-2 {
  margin-left: -2px;
}
/* Text Alignment */
.text-justify {
  text-align: justify;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
/* Visibility */
.visibility-v {
  visibility: visible;
}
.visibility-h {
  visibility: hidden;
}
/* opacity */
.opacity-o {
  opacity: 1;
}
.opacity-t {
  opacity: 0;
}
/* Wrapper */
.container {
  margin: 30px auto;
  _width: 1110px;
  width: 88.5%;
}
/* Tabs */
.tabs {
  width: 100%;
}
.tabs [type="radio"] {
  display: none;
}
.tab-menu {
  line-height: 0;
}
.tab-menu i {
  margin-right: 0.75em;
}
.tab-marker.l-inline-list > li {
  margin-right: 2px;
  margin-bottom: 1px;
}
.tab-marker.l-inline-list > li:last-child {
  margin-right: 0;
}
.tab-marker.l-vertical-list > li {
  margin-right: 0;
  margin-bottom: 2px;
}
.tab-marker.l-vertical-list > li:last-child {
  margin-bottom: 0;
}
.tab-marker > li {
  min-width: 132px;
}
.tab-marker label {
  display: block;
  padding: 1em 1.5em;
  background: #444444;
  font-size: 0.95em;
  font-weight: bold;
  color: #fff;
}
.tab-marker.tab-marker-tight > li {
  margin-right: -6px;
}
.tab-marker.tab-marker-rounded-top label {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.tab-content-container {
  -webkit-perspective: 2500px;
  perspective: 2500px;
}
.tab-content {
  width: 100%;
  display: none;
  padding: 1.15em 1.65em 1.25em 1.65em;
  background: #f7f7f7;
}
/* TAB DESIGN 2, SKEWED */
.tab-skewed .skewed-right {
  -webkit-transform: skew(-8deg);
}
.tab-skewed .skewed-right-margin-left {
  /* skewed */
  margin-left: 3px;
}
.tab-skewed .tab-content {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* TAB DESIGN 3, FLOATED */
.tab-floated {
  border-collapse: separate;
  border-spacing: 0 3px;
}
.tab-floated label {
  border-radius: 6px;
}
.tab-floated .tab-content {
  border-radius: 6px;
}
/* TAB DESIGN 4, OVERLAPPED */
.tab-overlapped li {
  margin-right: 18px;
  position: relative;
}
.tab-overlapped label {
  border-top-left-radius: 6px;
}
.tab-overlapped .triangle {
  display: block;
  position: absolute;
  bottom: 0;
  width: 42px;
  height: 45px;
  right: -25px;
  background: #444444;
  -webkit-transform: skew(35deg);
  border-right: 1px solid #373737;
  z-index: 500;
}
