@import url('animation.css');
/*
 * ===================================================================================
 *
 *	STATE STYLES
 *
 * ===================================================================================
*/
/* tab markers */
.tab-marker label:hover {
  cursor: pointer;
}
.is-tab-active {
  display: list-item;
}
.tab-design-1 .tab-marker [type="radio"]:checked ~ label {
  background: #f9f9f9;
  color: #2cc185;
  z-index: 10000;
}
.tab-design-2 [type="radio"]:checked ~ label {
  background: #f9f9f9 !important;
  color: #2cc185 !important;
  z-index: 10000;
}
.tab-design-2 [type="radio"]:checked ~ label span:before {
  background: #f9f9f9 !important;
}
/* tab-overlapped */
.tab-marker.tab-transparent label:hover span {
  background: #f9f9f9;
}
.tab-marker.tab-transparent [type="radio"]:checked ~ label {
  background: #f9f9f9;
  color: #2cc185;
  border: 0;
}
