@import url('animation.css');
/*
 * ===================================================================================
 *
 *	STATE STYLES
 *
 * ===================================================================================
*/
/* tab markers */
.tab-marker label:hover {
  cursor: pointer;
}
.tab-marker [type="radio"]:checked ~ label {
  background: #101010;
}
.tab-marker [type="radio"]:checked ~ .tab-content {
  display: table-cell;
}
.is-tab-active {
  display: table-cell;
}
