@import url('../less/variables.less');
@import url('animation.css');

/*
 * ===================================================================================
 *
 *	MODULE STYLES
 *
 * ===================================================================================
*/


/* GENERAL MODULE STYLES */

.bold {

	font-weight: bold;

}

/* Element Widths */

.w-30 {

	width: 30%;

}

.w-40 {

	width: 40%;

}

.w-50 {

	width: 50%;

}

.w-60 {

	width: 60%;

}

.w-70 {
	
	width: 70%;

}

.w-80 {
	
	width: 80%;

}

.w-90 {

	width: 90%;

}

.w-100 {

	width: 100%;

}

/* margin */

.pull-left-2 {

	margin-left: -2px;

}

/* text alignment */

.text-justify {

	text-align: justify;

}

.text-left {

	text-align: left;

}

.text-right {

	text-align: right;

}

.text-center {

	text-align: center;

}

/* visibility */

.visibility-v {

	visibility: visible;

}

.visibility-h {

	visibility: hidden;

}

/* opacity */

.opacity-1 {

	opacity: 1;

}

.opacity-0 {

	opacity: 0;

}

/* border */

.no-border {

	border: 0;

}

.b-t-l-radius {
	
	border-top-left-radius: @border_radius;

}

.b-t-r-radius {

	border-top-right-radius: @border_radius;

}

/* wrapper */

.tab-main-container {

	margin: 30px auto;
	_width: 1110px; //pixel
	width: 88.5%;	//percentage
}

.bg-transparent {

	background: rgba(0,0,0,0);

}


/* Tabs */

.tabs {

	width: 100%; //inherit the width of the container

	[type="radio"] {

		display: none; //hide radio form element

	}

}

.tab-menu {

	line-height: 0;

	i {

		margin-right: 0.75em; //font awesome icon

	}

}

.tab-marker  {

	> li {
		
			min-width: 132px; //minimum width for each tab-markers
			min-height: 45px;

	}

}


// TAB DESIGN 1

.tab-design-1 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 4px;

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
			
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			position: relative;
			display: block;
			padding: 1em 1.5em;
			font-size: 0.95em;
			font-weight: bold;

			background: @tab_marker_label_bg; //default background for tab-markers, greenish
			color: @tab_content_bg; //whitish

			
		}

		&.tab-marker-tight { //remove spacing between tab-markers

			> li {

				margin-right: -1px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}
			

			}

			&.tab-marker-separator { //add separator for each tab-markers

				> li {

					label {

						_border-top: 1px solid @tab_content_container_bc;
		  				border-right: 1px solid @tab_content_container_bc;
		  				border-left: 1px solid @tab_content_container_bc;
		  				_border-bottom: 1px solid @tab_content_container_bc;

					}
					

	  				&:first-child {

						border-left: 0;

	  				}

	  				&:last-child {

						border-right: 0;

	  				}

				}
		
			}

			&.tab-marker-overlap {

				> li {

					margin-right: -6px;

				}

			}

		}

		&.tab-marker-rounded-top { //???

			label {

				margin-right: 1px;
				border-top-left-radius: @border_radius;
				border-top-right-radius : @border_radius;

			}
			
		}

	}

} //END TAB DESIGN 1

// TAB DESIGN 2

.tab-design-2 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 26px;

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
	
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			position: relative;
			display: block;
			padding: 1em 1.75em 1em 1.5em;
			font-size: 0.95em;
			font-weight: bold;

			background: @tab_marker_label_bg; //default background for tab-markers, greenish
			color: @tab_content_bg; //whitish
	
			span:after {

				content:"";
				position: absolute;
				right: -10px;
				bottom: 0;
				width: 20px;
				height: 100%;
				background: @tab_marker_label_bg;;

				-webkit-transform: skewX(16deg);

			}

		}

		//remove spacing between tab-markers,  tab-marker-tigh is required to activate tab-marker-separator

		&.tab-marker-tight {

			> li {

				margin-right: 14px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}
			

			}

			&.tab-marker-separator { //add separator for each tab-markers

				> li {


					label {

		  				border-right: 1px solid @tab_content_container_bc;
		  				border-left: 1px solid @tab_content_container_bc;
		  				
					}
					

	  				&:first-child {

						border-left: 0;

	  				}

	  				&:last-child {

						border-right: 0;

	  				}

				}
		
			}

			&.tab-marker-overlap { //tab-marker-overalp is required to active .tab-marker-f-n-l

				> li {

					margin-right: -8px;

				}

			}

		}

		&.tab-marker-rounded-top { // add border radius to top-left and top-right

			label {

				margin-right: 1px;
				border-top-left-radius: @border_radius;
				border-top-right-radius : @border_radius;

				span:before {

					border-top-left-radius: @border_radius;

				}

				span:after {

					border-top-right-radius: @border_radius;

				}

			}
			
		}

	} // tab-marker

} // END TAB DESIGN 2

// TAB DESIGN 3

.tab-design-3 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 40px;

				&:first-child {

					margin-left: 12px;	

				}

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
			
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			position: relative;
			display: block;
			padding: 1em 1.5em;
			font-size: 0.95em;
			font-weight: bold;

			background: @tab_marker_label_bg; //default background for tab-markers, greenish
			color: @tab_content_bg; //whitish

			span:after {

				content:"";
				position: absolute;
				right: -10px;
				bottom: 0;
				width: 20px;
				height: 100%;
				background: @tab_marker_label_bg;;

				-webkit-transform: skewX(10deg);

			}

			span:before {

				content:"";
				position: absolute;
				left: -8px;
				bottom: 0;
				width: 20px;
				height: 100%;
				background: @tab_marker_label_bg;

				-webkit-transform: skewX(-10deg);

			}

		}

		&.tab-marker-tight { //remove spacing between tab-markers

			> li {

				margin-right: 22px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}
			
			}

			&.tab-marker-rounded-f-n-l {

				> li {

					&:first-child {

						label {

							border-top-left-radius: @border_radius;
						
						}

					}

					&:last-child {

						label {

							border-top-right-radius: @border_radius;
						
						}

					}

				}


			}

			&.tab-marker-separator { //add separator for each tab-markers

				> li {

					label {

						span:before {

							border-left: 1px solid @tab_content_container_bc;

						}
		  		 			
					}
					
	  				&:first-child {

						border-left: 0;

	  				}

	  				&:last-child {

						border-right: 0;

	  				}

				}
		
			}

			&.tab-marker-overlap {

				> li {

					margin-right: 2px;

				}

			}

		}

		&.tab-marker-rounded-top { //???

			label {

				span:before {

					border-top-left-radius: @border_radius;

				}
				
				span:after {

					border-top-right-radius : @border_radius;

				}
				
			}
			
		}

	}

} //END TAB DESIGN 3

// TAB DESIGN 4, SVG

.tab-design-4 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 72px;

				&:first-child {

					margin-left: 40px;	

				}

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
			
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			position: relative;
			display: block;
			padding: 1em 1.5em;
			font-size: 0.95em;
			font-weight: bold;

			background: @tab_marker_label_bg; //default background for tab-markers, greenish
			color: @tab_content_bg; //whitish

			svg {

				position: absolute;
				height: 100%;
				fill: @tab_marker_label_bg;

				&.svg-left {

					bottom: 0;
					left: -44px;
					width: 45px;
					
				}

				&.svg-right {

					bottom: 0;
					right: -44px;
					width: 45px;
					-webkit-transform: rotateY(180deg);

				}
				
			}
		}

		&.tab-marker-tight { //remove spacing between tab-markers

			> li {

				margin-right: 50px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}
			
			}

			&.tab-marker-separator {
				
				svg {

					stroke-width: 1px;
					stroke: @tab_content_container_bc;

				}


			}

			&.tab-marker-overlap {

				> li {

					margin-right: 32px;

				}

			}

		}

	}

} //END TAB DESIGN 4

// TAB DESIGN 5

.tab-design-5 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {

				margin-right: 26px;

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
	
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px; 

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			position: relative;
			display: block;
			padding: 1em 1.75em 1em 1.5em;
			font-size: 0.95em;
			font-weight: bold;

			background: @tab_marker_label_bg; //default background for tab-markers, greenish
			color: @tab_content_bg; //whitish

			span:before {

				content:"";
				position: absolute;
				top: 10%;
				left: -5%;
				width: 110%;
				height: 20px;
				background: @tab_marker_label_bg;
				z-index: -10000;
				border-top-left-radius: 150px;
				border-top-right-radius: 150px;

			}

			span:after {

				content:"";
				position: absolute;
				top: 50%;
				left: -5%;
				width: 110%;
				height: 20px;
				background: @tab_marker_label_bg;
				z-index: -10000;
				border-bottom-left-radius: 150px;
				border-bottom-right-radius: 150px;

			}

		}

		//remove spacing between tab-markers,  tab-marker-tigh is required to activate tab-marker-separator

		&.tab-marker-tight {

			> li {

				margin-right: 14px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}
			

			}

			&.tab-marker-separator { //add separator for each tab-markers

				> li {


					label {

		  				border-right: 1px solid @tab_content_container_bc;
		  				border-left: 1px solid @tab_content_container_bc;
		  				
					}
					

	  				&:first-child {

						border-left: 0;

	  				}

	  				&:last-child {

						border-right: 0;

	  				}

				}
		
			}

			&.tab-marker-overlap { //tab-marker-overalp is required to active .tab-marker-f-n-l

				> li {

					margin-right: -8px;

				}

			}

		}

		&.tab-marker-rounded-top { // add border radius to top-left and top-right

			label {

				margin-right: 1px;
				border-top-left-radius: @border_radius;
				border-top-right-radius : @border_radius;

			}
			
		}

	} // tab-marker

} // END TAB DESIGN 5


/* tab-content-container */

.tab-content-container { //this is the tab content container

	-webkit-perspective: 2500px;
    perspective: 2500px;

    &.bordered { //add border to tab content container

		border-right:1px solid @tab_content_container_bc;
		border-left: 1px solid @tab_content_container_bc;
		border-bottom: 1px solid @tab_content_container_bc;

    }

}

.tab-content { //this is the tab content

	width: 100%; //inherit the width of the container
	display: none; //hidden by default
	padding: 1.15em 1.65em 1.25em 1.65em;
 	background: @tab_content_bg;

} 


