@import url('../less/variables.less');
@import url('animation.css');

/*
 * ===================================================================================
 *
 *	MODULE STYLES
 *
 * ===================================================================================
*/


/* GENERAL MODULE STYLES */
 
.bold {

	font-weight: bold;

}

/* Element Widths */

.w-30 {

	width: 30%;

}

.w-40 {

	width: 40%;

}

.w-50 {

	width: 50%;

}

.w-60 {

	width: 60%;

}

.w-70 {
	
	width: 70%;

}

.w-80 {
	
	width: 80%;

}

.w-90 {

	width: 90%;

}

.w-100 {

	width: 100%;

}

/* margin */

.pull-left-2 {

	margin-left: -2px;

}

/* text alignment */

.text-justify {

	text-align: justify;

}

.text-left {

	text-align: left;

}

.text-right {

	text-align: right;

}

.text-center {

	text-align: center;

}

/* visibility */

.visibility-v {

	visibility: visible;

}

.visibility-h {

	visibility: hidden;

}

/* opacity */

.opacity-1 {

	opacity: 1;

}

.opacity-0 {

	opacity: 0;

}

/* border */

.no-border {

	border: 0;

}

.b-t-l-radius {
	
	border-top-left-radius: @border_radius;

}

.b-t-r-radius {

	border-top-right-radius: @border_radius;

}

#wrapper {

	width: 88.5%;
	_width: 1110px; //pixel
	margin: 30px auto 0 auto;

}

#header, .tab-main-container {

	width: 100%;
	
}

.tab-main-container-padded {

	padding: 0.5em;
	background: darken(@tab_marker_label_bg, 3.5%);
	
}


.tab-main-container-padded-1 {

	padding: 1em;
	background: darken(@tab_marker_label_bg, 3.5%);
	
}


.tab-main-container-rounded {

	border-radius: @border_radius;

 }


/* Tabs */

.tabs {

	width: 100%; //inherit the width of the container

	[type="radio"] {

		display: none; //hide radio form element

	}

}

.tabs-rounded-top {

	border-top-left-radius: @border_radius;
	border-top-right-radius: @border_radius;

}

.tab-menu {

	line-height: 0;

	i {

		margin-right: 0.75em; //font awesome icon

	}

}

.tab-marker  {

	> li {
		
		min-width: 132px; //minimum width for each tab-markers
		_min-height: 45px;
		
		
	}

	label { //general label settings

		position: relative;
		display: block;
		padding: 1em 1.5em;
		font-size: 0.8125em; 
		font-weight: bold;

		background: @tab_marker_label_bg; //default background for tab-markers, greenish
		color: @tab_content_bg; //whitish
		text-align: center;
		line-height: 1.65;

		_margin-bottom: -2px;

		// -webkit-transition: background 0.1s linear;

		i {

			// -webkit-transition: color 0.1s ease-in-out;

		}

		span {

			// -webkit-transition: color 0.1s ease-in-out;

			&:after, &:before {

				// -webkit-transition: background 0.1s linear;

			}

		}

		svg {
	
			// -webkit-transition: fill 0.1s linear;

		}

	}

}


// TAB DESIGN 1

.tab-design-1 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 10px;

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
			
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		&.tab-marker-tight { //reduce margins between tab-markers

			> li {

				margin-right: 2px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}

			}

			&.tab-marker-tight-transparent {

				label {

					background: rgba(0,0,0,0);
					border: 1px solid rgba(0,0,0,0) !important;
					color: @text_color;

				}

			}

			&.tab-marker-tight-separator { //add separator for each tab-markers

				> li {

					label {
						
						_border-top: 1px solid @border_separator;
		  				border-right: 1px solid @border_separator;
		  				border-left: 1px solid @border_separator;

					}
					

	  				&:first-child {
						
						label {
							
							border-left: 0;

						}
						
	  				}

	  				&:last-child {

						_border-right: 0;

	  				}

				}
		
			}

			&.tab-marker-tight-overlap {

				> li {

					margin-right: -6px;

				}

			}

		}

		&.tab-marker-rounded-top { //???

			label {

				margin-right: 1px;
				border-top-left-radius: @border_radius;
				border-top-right-radius : @border_radius;

			}
			
		}

	}

} //END TAB DESIGN 1

// TAB DESIGN 2

.tab-design-2 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 26px;

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
	
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			span:after {

				content:"";
				position: absolute;
				right: -10px;
				bottom: 0;
				width: 20px;
				height: 100%;
				background: @tab_marker_label_bg;;

				-webkit-transform: skewX(16deg);

			}

		}

		//remove spacing between tab-markers,  tab-marker-tigh is required to activate tab-marker-tight-separator

		&.tab-marker-tight {

			> li {

				margin-right: 18px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}

	  		}

  			&.tab-marker-tight-transparent {
		
				label {

					background: rgba(0,0,0,0) !important;
					border: none !important;
					color: @text_color;

					span:after {

						background: rgba(0,0,0,0);

					}

				}

			}

			&.tab-marker-tight-separator { //add separator for each tab-markers

				> li {

					label {

		  				border-right: 1px solid @tab_content_container_bc;
		  				border-left: 1px solid @tab_content_container_bc;
		  				
					}
					
	  				&:first-child {
						
						label {

							border-left: 0;
						}
							
	  				}

	  				&:last-child {
						
						border-right: 0;

	  				}

				}
		
			}

			&.tab-marker-tight-overlap { //tab-marker-overalp is required to active .tab-marker-f-n-l

				> li {

					margin-right: 2px;

				}

			}

		} //end tab-marker-tight

		&.tab-marker-rounded-top { // add border radius to top-left and top-right

			label {

				margin-right: 1px;
				border-top-left-radius: @border_radius;
				border-top-right-radius : @border_radius;

				span:before {

					border-top-left-radius: @border_radius;

				}

				span:after {

					border-top-right-radius: @border_radius;

				}

			}
			
		} // tab-marker-rounded-top

	} // tab-marker

} // END TAB DESIGN 2

// TAB DESIGN 3

.tab-design-3 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 40px;

				&:first-child {

					margin-left: 12px;	

				}

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
			
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			span:after {

				content:"";
				position: absolute;
				right: -10px;
				bottom: 0;
				width: 20px;
				height: 100%;
				background: @tab_marker_label_bg;;

				-webkit-transform: skewX(10deg);

			}

			span:before {

				content:"";
				position: absolute;
				left: -8px;
				bottom: 0;
				width: 20px;
				height: 100%;
				background: @tab_marker_label_bg;

				-webkit-transform: skewX(-10deg);

			}

		}

		&.tab-marker-tight { //remove spacing between tab-markers

			> li {

				margin-right: 28px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}
			
			}

			&.tab-marker-tight-transparent {

				> li {

					label {

						background: rgba(0,0,0,0);
						border: none;
						color: @text_color;

						span {

							&:before, &:after {
								
								border: none !important;
								background: rgba(0,0,0,0);

							}

						}

					}

				}

			}

			&.tab-marker-tight-separator { //add separator for each tab-markers

				> li {

					label {

						span:before {

							border-left: 1px solid @border_separator;

						}
		  		 			
					}
					
	  				&:first-child {
						
						label {

							span:before {

								border-left: 0;

							}

						}

	  				}

	  				&:last-child {

						border-right: 0;

	  				}

				}
		
			}

			&.tab-marker-tight-overlap {

				> li {

					margin-right: 15px;

				}

			}

		}

		&.tab-marker-rounded-top { //???

			label {

				span:before {

					border-top-left-radius: @border_radius;

				}
				
				span:after {

					border-top-right-radius : @border_radius;

				}
				
			}
			
		}

	}

} //END TAB DESIGN 3

// TAB DESIGN 4, SVG

.tab-design-4 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 80px;

				&:first-child {

					margin-left: 40px;	

				}

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
			
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			svg {

				position: absolute;
				height: 100%;
				fill: @tab_marker_label_bg;

				&.svg-left {

					bottom: 0;
					left: -44px;
					width: 45px;
					
				}

				&.svg-right {

					bottom: 0;
					right: -44px;
					width: 45px;
					-webkit-transform: rotateY(180deg);

				}
				
			}
		}

		&.tab-marker-tight { //remove spacing between tab-markers

			> li {

				margin-right: 60px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;
					border: none;

	  			}

	  			
			}

			&.tab-marker-tight-transparent {

				label {

					background: rgba(0,0,0,0);
					border: none!important;
					color: @text_color;

				}

				svg {

					fill: rgba(0,0,0,0);

	  			}
			

			}

			&.tab-marker-tight-separator {
				
				svg {

					stroke-width: 1px;
					stroke: @tab_content_container_bc;

				}


			}

			&.tab-marker-tight-overlap {

				> li {

					margin-right: 32px;

				}

			}

		}

	}

} //END TAB DESIGN 4

// TAB DESIGN 5

.tab-design-5 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {

				margin-right: 32px;

				&:first-child {

					margin-left: 0; //last tab-marker has no margin-right

				}

			}
	
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px; 

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			/* leaf */

			span.leaf:before {

				content:"";
				position: absolute;
				top: 46%;
				left: -4.75%;
				width: 110%;
				height: 12px;
				background: @tab_marker_label_bg;
				z-index: -10000;
				border-top-left-radius: 250px;
				border-top-right-radius: 250px;

			}

			span.leaf:after {

				content:"";
				position: absolute;
				bottom: 46%;
				left: -4.75%;
				width: 110%;
				height: 12px;
				background: @tab_marker_label_bg;
				z-index: -10000;
				border-bottom-left-radius: 250px;
				border-bottom-right-radius: 250px;

			}

			/* picket */

			span.picket:before {

				content:"";
				position: absolute;
				top: 23%;
				left: -4.75%;
				width: 110%;
				height: 12px;
				background: @tab_marker_label_bg;
				z-index: -10000;
				border-radius: 150px;

			}

			span.picket:after {

				content:"";
				position: absolute;
				bottom: 23%;
				left: -4.75%;
				width: 110%;
				height: 12px;
				background: @tab_marker_label_bg;
				z-index: -10000;
				border-radius: 150px;

			}

			/* wing */

			span.wing:before {

				content:"";
				position: absolute;
				top: 22%;
				left: -7.6%;
				width: 115%;
				height: 12px;
				background: @tab_marker_label_bg;
				z-index: -10000;
				border-radius: 20px 20px 50px 50px;

			}

			span.wing:after {

				content:"";
				position: absolute;
				bottom: 25%;
				left: -4.75%;
				width: 110%;
				height: 12px;
				background: @tab_marker_label_bg;
				z-index: -10000;
				border-radius: 10px 10px 20px 20px;
				
			}

			/* angle-bar */

			span.angle-bar:before {

				content:"";
				position: absolute;
				top: 41.25%;
				left: -5.25%;
				width: 110%;
				height: 8px;
				background: @tab_marker_label_bg;
				z-index: -10000;

				-webkit-transform: rotate(6deg);


			}

			span.angle-bar:after {

				content:"";
				position: absolute;
				bottom: 41.25%;
				left: -5.25%;
				width: 110%;
				height: 8px;
				background: @tab_marker_label_bg;
				z-index: -10000;
				
				-webkit-transform: rotate(-6deg);
				
			}

		}

		//remove spacing between tab-markers,  tab-marker-tigh is required to activate tab-marker-tight-separator

		&.tab-marker-tight {

			> li {

				margin-right: 18px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}

			}

			&.tab-marker-tight-transparent {

				label {

					background: rgba(0,0,0,0);
					border: 1px solid rgba(0,0,0,0) !important;
					color: @text_color;

					span {

						&:before, &:after {

							background: none;

						}

					}

				}

			}

			&.tab-marker-tight-separator { //add separator for each tab-markers

				> li {


					label {

		  				border-right: 1px solid @tab_content_container_bc;
		  				border-left: 1px solid @tab_content_container_bc;
		  				
					}
					

	  				&:first-child {
						
						label {

							border-left: 0;

						}
						
	  				}

	  				&:last-child {

						label {
							
							_border-right: 0;

						}
						
	  				}

				}
		
			}

			&.tab-marker-tight-overlap { //tab-marker-overalp is required to active .tab-marker-f-n-l

				> li {

					margin-right: -2px;

				}

			}

		}

		&.tab-marker-rounded-top { // add border radius to top-left and top-right

			label {

				margin-right: 1px;
				border-top-left-radius: @border_radius;
				border-top-right-radius : @border_radius;

			}
			
		}

	} // tab-marker

} // END TAB DESIGN 5

// TAB DESIGN 6

.tab-design-6 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 14px;
				-webkit-transform: skew(-15deg);

				&:first-child {

					margin-left: 6px;

				}

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
			
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}


		&.tab-marker-tight { //reduce margins between tab-markers

			> li {

				margin-right: 2px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}

			}

			&.tab-marker-tight-transparent {

				label {

					background: rgba(0,0,0,0);
					border: 1px solid rgba(0,0,0,0) !important;
					color: @text_color;

				}

			}

			&.tab-marker-tight-separator { //add separator for each tab-markers

				> li {

					label {

		  				border-right: 1px solid @tab_content_container_bc;
		  				border-left: 1px solid @tab_content_container_bc;

					}
					

	  				&:first-child {
						
						label {
							
							border-left: 0;

						}
						

	  				}

	  				&:last-child {

						border-right: 0;

	  				}

				}
		
			}

			&.tab-marker-tight-overlap {

				> li {

					margin-right: -2px;

				}

			}

		}

		&.tab-marker-rounded-top { //???

			label {

				margin-right: 1px;
				border-top-left-radius: @border_radius;
				border-top-right-radius : @border_radius;

			}
			
		}

	}

} //END TAB DESIGN 6

// TAB DESIGN 7

.tab-design-7 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 10px;

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

				label {

					border-top-right-radius: 20px;
				
				}

			}
			
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		&.tab-marker-tight { //reduce margins between tab-markers

			> li {

				margin-right: 2px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}

			}

			&.tab-marker-tight-transparent {

				label {

					background: rgba(0,0,0,0);
					border: 1px solid rgba(0,0,0,0) !important;
					color: @text_color;

				}

			}

			&.tab-marker-tight-separator { //add separator for each tab-markers

				> li {

					label {

		  				border-right: 1px solid @tab_content_container_bc;
		  				border-left: 1px solid @tab_content_container_bc;

					}
					

	  				&:first-child {

	  					label {

							border-left: 0;

						}

	  				}

	  				&:last-child {

						border-right: 0;

	  				}

				}
		
			}

			&.tab-marker-tight-overlap {

				> li {

					margin-right: -6px;

				}

			}

		}

		&.tab-marker-rounded-top { //???

			label {

				margin-right: 1px;
				border-top-left-radius: 20px;

			}
			
		}

	}

} //END TAB DESIGN 7


// TAB DESIGN 8

.tab-design-8 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 26px;

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
	
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			span {

				&:after {

					content:"";
					position: absolute;
					background: @tab_marker_label_bg;;
					right: -7px;
					top: 0;
					width: 14px;
					height: 50%;
					-webkit-transform: skewX(28deg);

				}

				&:before {

					content:"";
					position: absolute;
					background: @tab_marker_label_bg;;
					right: -13px;
					bottom: 0;
					width: 14px;
					height: 50%;

				}

			}

		}

		//remove spacing between tab-markers,  tab-marker-tigh is required to activate tab-marker-tight-separator

		&.tab-marker-tight {

			> li {

				margin-right: 18px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;

	  			}

	  		}

  			&.tab-marker-tight-transparent {
		
				label {

					background: rgba(0,0,0,0) !important;
					border: none !important;
					color: @text_color;

					span:before, span:after {

						background: rgba(0,0,0,0);

					}

				}

			}

			&.tab-marker-tight-separator { //add separator for each tab-markers

				> li {

					label {

		  				border-right: 1px solid @tab_content_container_bc;
		  				border-left: 1px solid @tab_content_container_bc;
		  				
					}
					
	  				&:first-child {
						
						label {

							border-left: 0;
						}
							
	  				}

	  				&:last-child {
						
						border-right: 0;

	  				}

				}
		
			}

			&.tab-marker-tight-overlap { //tab-marker-overalp is required to active .tab-marker-f-n-l

				> li {

					margin-right: 0;

				}

			}

		} //end tab-marker-tight


	} // tab-marker

} // END TAB DESIGN 8

// TAB DESIGN 9, 10, SVG (Both Sides)

.tab-design-9, .tab-design-10 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 60px;

				&:first-child {

					margin-left: 25px;	

				}

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
			
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			svg {

				position: absolute;
				height: 100%;
				fill: @tab_marker_label_bg;

				&.svg-left {

					bottom: 0;
					left: -25px;
					width: 45px;
					
				}

				&.svg-right {

					bottom: 0;
					right: -25px;
					width: 45px;
					-webkit-transform: rotateY(180deg);

				}
				
			}
		}

		&.tab-marker-tight { //remove spacing between tab-markers

			> li {

				margin-right: 54px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;
					border: none;

	  			}

	  			
			}

			&.tab-marker-tight-transparent {

				label {

					background: rgba(0,0,0,0);
					border: none!important;
					color: @text_color;

				}

				svg {

					fill: rgba(0,0,0,0);

	  			}
			

			}

			&.tab-marker-tight-separator {
				
				svg {

					stroke-width: 1px;
					stroke: @tab_content_container_bc;

				}


			}

			&.tab-marker-tight-overlap {

				> li {

					margin-right: 11px;

				}

			}

		}

	}

} //END TAB DESIGN 9

// TAB DESIGN 11, SVG (Right Side Only)

.tab-design-11 {

	.tab-marker  {

		&.l-inline-list { //display tab-marker horizontally

			> li {
			
				margin-right: 35px;

				&:first-child {

					margin-left: 0;	

				}

				&:last-child {

					margin-right: 0; //last tab-marker has no margin-right

				}

			}
			
		}

		&.l-vertical-list { //display tab-marker vertically

			> li {

				margin-right: 0; //no tab-marker margin-right
				margin-bottom: 2px;  

				&:last-child {

					margin-bottom: 0; //the last tab-marker has no margin-bottom

				}

			}
			
		}

		label { //general label settings

			svg {

				position: absolute;
				height: 100%;
				fill: @tab_marker_label_bg;

				&.svg-left {

					bottom: 0;
					left: -25px;
					width: 45px;
					
				}

				&.svg-right {

					bottom: 0;
					right: -13px;
					width: 45px;
					-webkit-transform: rotateY(180deg);

				}
				
			}
		}

		&.tab-marker-tight { //remove spacing between tab-markers

			> li {

				margin-right: 24px;
				border-left: 0;
			
	  			label {

					background: @tab_marker_label_bg;
					color: @tab_content_bg;
					border: none;

	  			}

	  			
			}

			&.tab-marker-tight-transparent {

				label {

					background: rgba(0,0,0,0);
					border: none!important;
					color: @text_color;

				}

				svg {

					fill: rgba(0,0,0,0);

	  			}
			

			}

			&.tab-marker-tight-separator {
				
				svg {

					stroke-width: 1px;
					stroke: @tab_content_container_bc;

				}


			}

			&.tab-marker-tight-overlap {

				> li {

					margin-right: -1px;

				}

			}

		}

	}

} //END TAB DESIGN 9
















/* tab-content-container */

.tab-content-container { //this is the tab content container

	-webkit-perspective: 2500px;
    perspective: 2500px;
    clear: both;

    &.bordered { //add border to tab content container

		border-right:1px solid @tab_content_container_bc;
		border-left: 1px solid @tab_content_container_bc;
		border-bottom: 1px solid @tab_content_container_bc;

    }

   
}

.tab-content { //this is the tab content

	width: 100%; //inherit the width of the container
	display: none; //hidden by default
	padding: 1.15em 1.65em 1.25em 1.65em;
 	background: @tab_content_bg;

} 


