@import url('../less/variables.less');
@import url('animation.css');

/*
 * ===================================================================================
 *
 *	STATE STYLES
 *
 * ===================================================================================
*/


/* tab markers */

.tab-marker label:hover {

	background: @label_hover_bg;
	color: @text_color;
	cursor: pointer;
}

.tab-marker [type="radio"]:checked ~ label {

	background:  @tab_content_bg;
	color: @border_color;

}

.is-tab-active {

	display: list-item;

}

/* tab-bordered */

.tab-bordered {

	&.tab-bordered-bb {

		[type="radio"]:checked {

			~ label {
				
				border-bottom: @border_bottom solid @border_color;

				.triangle-pd {

					opacity: 1;

				}

			}

		}

	}

	&.tab-bordered-bt {

		[type="radio"]:checked {

			~ label {
				
				border-top: @border_bottom solid @border_color;

			}

		}

	}

}


/* tab-overlapped */

.tab-overlapped {

		label:hover {

			span {

				background: @tab_content_bg;
				z-index: 10000;

			}

		}

		.rhombus:hover {

			cursor: pointer;

		}


	[type="radio"]:checked {

		~ label {
			
			span {
				
				background: @tab_content_bg;
				border: 0;
				z-index: 5000;

			}

		}

	}

}
