@import url('../less/variables.less');
@import url('animation.css');

/*
 * ===================================================================================
 *
 *	STATE STYLES
 *
 * ===================================================================================
*/


/* tab markers */

.tab-marker label:hover {

	// background: @label_hover_bg;
	// color: @text_color;
	cursor: pointer;

}

.is-tab-active {

	display: list-item;

}

/* tab-design-1 */

.tab-design-1 {

	.tab-marker [type="radio"]:checked ~ label {

		background:  @tab_content_bg;
		color: @border_color;
		z-index: 10000;

	}

}

/* tab-design-2 */

.tab-design-2 {

	.tab-marker { 

		[type="radio"]:checked {

			~ label {

				background:  @tab_content_bg !important;
				color: @border_color !important;
				z-index: 10000;

				span:after {

					background: @tab_content_bg !important;

				}

				span:before {

					background: @tab_content_bg !important;

				}

			}

		} // :checked

	} // tab-marker

}

/* tab-design-3 */

.tab-design-3 {

	.tab-marker { 

		[type="radio"]:checked {

			~ label {

				background:  @tab_content_bg !important;
				color: @border_color !important;
				z-index: 10000;

				span:after {

					background: @tab_content_bg !important;

				}

				span:before {

					background: @tab_content_bg !important;

				}

			}

		} // :checked

	} // tab-marker

}

/* tab-design-4 */

.tab-design-4 {

	.tab-marker { 

		[type="radio"]:checked {

			~ label {

				background:  @tab_content_bg !important;
				color: @border_color !important;
				z-index: 10000;

				.svg-left, .svg-right {

					fill: @tab_content_bg;

				}

				
			}

		} // :checked

	} // tab-marker

}

/* tab-design-5 */

.tab-design-5 {

	.tab-marker { 

		[type="radio"]:checked {

			~ label {

				background:  @tab_content_bg !important;
				color: @border_color !important;
				z-index: 10000;

				span:after {

					background: @tab_content_bg !important;

				}

				span:before {

					background: @tab_content_bg !important;

				}

			}

		} // :checked

	} // tab-marker

}