@base_font: 'Verdana', sans-serif;
@header_font: sans-serif;

@body_bg: #D0D0D0; //body background

@tab_marker_label_bg: rgba(44, 193, 133, 1); //greenish
@transparent_bg: rbga(0,0,0,0);
@tab_content_bg:  #F9F9F9;

@border_radius: 6px;
@border_bottom: 7px;
@border_top: 7px;
@border_color: #2CC185;

@tab_content_container_bc: rgba(52, 52, 52, 0.1);

@label_hover_bg: #F9F9F9;
@text_color: rgb(68, 68, 68);
@text_color_dark: #1B1B1B;