// @import url('http://fonts.googleapis.com/css?family=Open+Sans:600,400|Lato:900');

/* body */

@body_bg: #D0D0D0; //body background 


/* font */

@base_font: 'Open Sans', Verdana, sans-serif;
@header_font: 'Open Sans', sans-serif;

/* tab-marker */

@tab_marker_label_bg: rgba(44, 193, 133, 1); //greenish
@transparent_bg: rbga(0,0,0,0); //transparent
@tab_content_bg:  #F9F9F9; //whitish

/* border */

@border_radius: 6px;
@border_bottom: 7px;
@border_top: 7px;
@border_color: #2CC185;
@border_separator: rgba(0,0,0,0.05);

/* texts */

@text_color: rgb(68, 68, 68);
@text_color_dark: #1B1B1B;

@tab_content_container_bc: rgba(52, 52, 52, 0.1);


/* hover bg */

@label_hover_bg: #F9F9F9;



